<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../css/style2.css" />
	<title>Registrate | Leka Store</title>
	<link class="logo" rel="icon" href="../img/logo.jpg">
</head>

<body style="overflow: auto;">
	<img class="wave" src="../img/image2.png">
	<div class="container">
		<div class="img">
			<img src="../img/undraw_well_done_i2wr.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="../img/undraw_profile_pic_ic5t.svg">
				<h2 class="title">Registrate</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Nombre</h5>
						<input type="text" class="input" name="nombre">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Apellido</h5>
						<input type="email" class="input" name="apellido">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="far fa-address-card"></i>
					</div>
					<div class="div">
						<h5>Cedula</h5>
						<input type="number" class="input" name="cedula">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-phone-alt"></i>
					</div>
					<div class="div">
						<h5>Telefono celular</h5>
						<input type="email" class="input" name="celular">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Dirección</h5>
						<input type="email" class="input" name="direc">
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-envelope"></i>
					</div>
					<div class="div">
						<h5>Correo</h5>
						<input type="email" class="input">
					</div>
				</div>

				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Contraseña</h5>
						<input type="password" class="input">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Confirmar contraseña</h5>
						<input type="password" class="input">
					</div>
				</div>
				<input type="submit" class="btn" value="Registrar">
				<a href="login.html">Volver</a>
			</form>
		</div>
	</div>

	<script src="../js/app.js"></script>
</body>

</html>