<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../css/style.css" />
	<title>Cambiar contraseña | Leka Store</title>
	<link class="logo" rel="icon" href="../img/logo.jpg">
</head>

<body>
	<img class="wave" src="../img/image.png">
	<div class="container">
		<div class="img">
			<img src="../img/undraw_donut_love_kau1.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="../img/undraw_profile_pic_ic5t (2).svg">
				<h2 class="title">Cambiar contraseña</h2>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Contraseña actual</h5>
						<input type="password" class="input" name="claveActual">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Contraseña nueva</h5>
						<input type="password" class="input" name="claveNueva">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Confirmar contraseña nueva</h5>
						<input type="password" class="input" name="confirmarClave">
					</div>
				</div>
				<input type="submit" class="btn" value="Guardar">
			</form>
		</div>
	</div>
	<script src="../js/app.js"></script>
</body>

</html>